name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
      steps:
        - name: Checkout Main Branch
          uses: actions/checkout@v2
          with:
            fetch-depth: 0
            ref: main

        - name: Use Node.js
          uses: actions/setup-node@v1
          with:
            node-version: "16.x"

        - name: Install Dependencies
          run: npm install

        - name: Build Application
          run: npm run build

        - name: Install SSH Key
          uses: shimataro/ssh-key-action@v2
          with:
            key: ${{ secrets.SSH_PRIVATE_KEY }}
            known_hosts: unnecessary
            
        - name: Adding Known Hosts
          run: |
            mkdir -p ~/.ssh
            touch ~/.ssh/authorized_keys
            ssh-keyscan -H ${{ secrets.SSH_HOST }}  >> ~/.ssh/known_hosts
            
        - name: Deploy with rsync
          run: rsync -avz . ${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST }}:${{ secrets.TARGET_DIRECTORY }}